html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(rgb(66, 43, 47), rgb(156, 58, 156));
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  border: 1px solid #333;
  
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(132, 131, 131, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  
}
